main {
  min-height: 80vh;
}

body {
  background: #f5f5f5;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

li {
  list-style: none;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}


.bg-dark {
  background-color: #94cf4f !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
}

.navbar .searchBar {
  width: 720px;
  position: relative;
}

.navbar .searchBar input {
  width: 100%;
  border-radius: 4px;
  margin: 0 0 0 30px !important;
}

.navbar .searchBar button {
  position: absolute;
  right: 12px;
  background: transparent;
  border: 0;
  font-size: 20px;
  font-weight: 400;
}

.navbar {
  padding: 10px 1rem;
}

img {
  max-width: 100%;
}

.container {
  padding: 0;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.popup.active .sideBar {
  opacity: 1;
  visibility: visible;

}

.popup.active .sideBar.left {
  left: 0;

}

.popup .sideBar.right {
  right: -100%;
  left: inherit;
}

.popup.active .sideBar.right {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.popup .bgCover {
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 57%);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup.active .bgCover {
  opacity: 1;
  visibility: visible;
}

.productsSec {
  padding: 40px 30px;
  background: #fff;
  margin: 30px 0;
}

.productItem .card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.productItem .card-body {
  padding: 0;
}

.productItem .card-text {
  padding: 0;
  letter-spacing: 0;
}

.productItem .fa-rupee-sign {
  font-size: 20px;
}

.productItem h3.card-text span {
  color: rgb(153, 153, 153);
  font-size: 18px;
  text-decoration: line-through;
  font-weight: 400;
}

.btn-primary {
  color: #fff;
  background-color: #94cf4f;
  border-color: #94cf4f;
}

.btn-group-sm>.btn {
  padding: 10px 10px;
}

.productItem .btn-primary {
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0 10px;
  font-size: 13px;
  height: 34px;
  align-items: center;
}



.productItem .btn-primary .fa-plus {
  background: #bbec82;
  height: 34px;
  padding: 5px 12px;
  line-height: 21px;
  border-radius: 0 4px 4px 0;
}

.productItem .card-img-top {
  margin-bottom: 10px;
}

footer {
  background: #878787;
  color: #fff;
  padding: 20px 0;
}

footer ul {
  margin: 0 -15px;
}

footer ul li {
  padding: 0 15px;
}

footer h6 {
  color: #fff;
}

footer ul li a {
  color: #fff;
}




@media (max-width: 480px) {
  footer .row {
    display: block;
    margin: 0;
    padding: 0 15px;
  }

  footer ul {
    margin: 0;
  }
}